.carrossel_titulo{
    font-family: var(--poppins);
    background-color: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    font-size: 18px;
    font-weight: 7800;
}

.swiper-slide img{
width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial !important;
    margin: .5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none !important;
}

.card_descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao_titulo{
    color: var(--laranja);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao_titulo_livro{
    color: #002F52;;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.descricao_texto{
    color: rgba(0, 0, 0, 0.85);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descricao{
    width: 11em;
    gap: 9px;
}

.botoes_ancora{
    background-color: var(--laranja);
    width: 161px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}