@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.cabeçalho__menu_hamburguer{
   width: 24px;
   height: 24px;
   background-image: url(../assets/Menu.png);
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;

}


.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista_menu{
    display: block;
}

.lista_menu_titulo,.lista_menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista_menu_titulo{
    color: var(--laranja);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    

}

.lista_menu_link{
    background: var(--azulgradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_botao{
    display: none;
}